{% extends 'base.html' %}
{% block title %}

{% endblock title %}
{% block body %}

<div class="container my-3">
    <h2>Add a Todo</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Description</label>
            <input type="text" class="form-control" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-outline-dark-subtle-hover">Submit</button>
    </form>
</div>
<div class="container my-3">
    <h2>Your Todos</h2>
    {% if allTodo|length == 0 %}
    <div class="alert alert-info" role="alert">
        NO RECORDS FOUND. ADD YOUR FIRST TODO NOW!
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <!-- create read update delete [CRUD OPERATIONS] : -->
                    <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-info-subtle-hover btn-sm mx-1">Update</a>
                    <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark-subtle-hover btn-sm mx-1">Delete</a>
                    <!-- but for now we're doing only Update and Delete -->
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    {% endif %}

</div>
{% endblock body %}